.vaporwaveBtn {
    color: black;
    text-decoration: none;
    background-color: powderblue;
    padding: 1rem;
    border-radius: .25rem;
    position: fixed;
    left: 1rem;
    top: 15rem;
    z-index: 999;
    -webkit-transition: all 422ms ease-in-out;
    
    
}

.vaporwaveBtn:hover {
    text-decoration: none;
    background-color: pink;
    -webkit-transition: all 422ms ease-in-out;
}

.vaporwaveBtn:active {
    background-color: #F3FF8C;
}

.fade-in-out {
    -webkit-transition: background-color 422ms ease-in-out, 422ms;
}

/* .vapor-background {
    background-color: #6cfec4;
    
} */
/* @keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.marbleGif {
    width: 560px; 
	height: 400px; 
	background-image: url();
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
} */